/* Color Theme Swatches in Hex */
.light_grey_hex { color: #E0DFDF; }
.lighter-grey-hex { color: #837F7E; }
.dark-grey-hex { color: #595958; }
.red-hex { color: #BF2B2B; }
.teal-hex { color: #22BFA8; }

/* Color Theme Swatches in RGBA */
.light_grey_rgba { color: rgba(224, 223, 223, 1); }
.lighter-grey-rgba { color: rgba(131, 126, 126, 1); }
.dark-grey-rgba { color: rgba(89, 89, 87, 1); }
.red-rgba { color: rgba(191, 42, 42, 1); }
.teal-rgba { color: rgba(34, 191, 168, 1); }


@font-face {
	font-family: "test_1";
	src: url("../test_1.woff") format("woff");
}

@font-face {
	font-family: "mirror_writing";
	src: url("../mirror_writing.woff") format("woff");
}

.print_formating, #print_formating {
	display: none;
}

body, header {
	display: block;
	width: 90vw;
	margin-left: auto;
    margin-right: auto;
	color: #000000;
}

h1 {
	font-size: 2.5em;
}

.warning {
	font-size: 1em;
	color: #BF2B2B;
}

#mirror_writing_logo {
	display: block;
	height: 11em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: auto;
        margin-right: auto;
	white-space: pre;
}

.logo_text_cursor_style {
	fill: #BF2B2B;
}

.logo_text {
	font-size: 2.5em;
	color: #000000;
}

p, label, button {
	font-size: 1.5em;
}

fieldset {
	border: none;
	outline: none;
	padding: 0;
	margin: 0;
}

.text_controls, .print_controls {
	vertical-align: middle;
}

.textarea {
	min-height: 5em;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	margin: 16px auto;
	padding: 4px;
	font-size: 24pt;
	resize: vertical;
	white-space: normal;
	word-wrap: break-word;
	overflow-y: auto;
	overflow-wrap: break-word;
	border: 1.5px solid #837F7E;
	border-radius: 4px;
}

.mirrored_text {
	display: block;
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

/* mirrored_font
.mirror_font_text {
	text-align: right;
	unicode-bidi: bidi-override; 
	direction: rtl;
} */

.dropdown {
	position: relative;
	display: inline-block;
}

.button, .dropdown_button, .dropdown_content {
	padding: 4px;
	border: 1.5px solid #837F7E;
	border-radius: 4px;
	background-color: #E0DFDF;
	color: #BF2B2B;
}

#mirrored_textarea:focus, .button:focus, .dropdown_button:focus {
	outline: none;
	border: 3px solid #000000;
	border-radius: 4px;
}

.button:focus, .button:hover, .dropdown_button:focus, .dropdown_button:hover {
	color: #000000;
	background-color: #22BFA8;
}

.dropdown_content {
	display: none;
	position: absolute;
	padding: 4px;
	background-color: #E0DFDF;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.input_radio_button, h1 {
	position: fixed;
	opacity: 0;
	width: 0;
}  

.dropdown_label {
	white-space: nowrap;
	width: 100%;
	display: block;
	padding: 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.dropdown_element {
	display: block;
} 

.input_radio_button:checked + .dropdown_label {
	background-color: #BF2B2B;
	color: #E0DFDF;
}

.input_radio_button:focus + .dropdown_label, .dropdown_element:hover {
	background-color: #22BFA8;
	color: #000000;
}

.show {
	display: block;
}

.hide {
	display: none;
}


/********************************************************************************
Fonts
********************************************************************************/
.arial {
	font-family: Arial, Helvetica, sans-serif;
}

.brush_script_mt {
	font-family: "Brush Script MT", cursive;
}

.copperplate {
	font-family: Copperplate, Papyrus, fantasy;
}

.courier_new {
	font-family: "Courier New", Courier, monospace;
}

.garamond {
	font-family: Garamond, serif;
}

.georgia {
	font-family: Georgia, serif;
}

.helvetica {
	font-family: Helvetica, sans-serif;
}

.tahoma {
	font-family: Tahoma, Verdana, sans-serif;
}

.times_new_roman {
	font-family: 'Times New Roman', Times, serif;
}

.trebuchet_ms {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.verdana {
	font-family: Verdana, sans-serif;
}

/********************************************************************************
Keyboard
********************************************************************************/
.key_button {
	fill: #FFFFFF;
	stroke: #000000;
	stroke-miterlimit: 10;
}

.key_name {
	font-size: 1.5em;
	fill: #000000;
}

.key_button:hover {
	fill: rgba(255, 255, 255, 0.5);
}

.key_button:focus, .focus {
	fill: #22BFA8;
	outline: none;
	stroke: #000000;
	stroke-width: 2.5px;
}

.keyboard_buttons {
	display: inline-block;
	vertical-align: middle;
}

#onscreen_keyboard_section {
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 1em auto;
	padding: 4px;
	position: -webkit-sticky;
	position: sticky;
	background-color: rgba(191, 42, 42, 0.75);
	border-radius: 4px;
	bottom: 1em;
	text-align: right;
}

#onscreen_keyboard {
	margin-top: 4px;
	white-space: pre;
	width: inherit;
}

.screen_reader_only {
	border: 0; 
	clip: rect(0 0 0 0); 
	clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
	-webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
	height: 1px; 
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
