@font-face {
	font-family: "mirror_writing";
	src: url("mirror_writing.woff") format("woff");
}

.print_formating {
	display: none;
}

body {
	display: block;
	width: 75vw;
	margin-left: auto;
    margin-right: auto;
	color: blue;
}

.textarea {
	min-height: 5em;
	width: 100%;
	resize: none;
	white-space: normal;
	word-wrap: break-word;
	overflow-wrap: break-word;
	border: 0.25em solid #ccc;
	border-radius: 0.25em;
}

.mirrored_text {
	display: block;
	-moz-transform: scale(-1, 1);
	-webkit-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

.mirror_font_text {
	text-align: right;
	unicode-bidi: bidi-override; 
	direction: rtl;
}

#font_selection:focus, .font_option:focus, #mirrored_textarea:focus, #print_button:focus {
	outline: none;
	border: 2.5px solid black;
	border-radius: 0.25em;
}

/********************************************************************************
Keyboard
********************************************************************************/
.hide {
	display: none;
}

.key_button {
	fill:white;
	stroke:#ED1C24;
	stroke-miterlimit:10;
}

.key_name {
	font-size:24px;
	fill:#000000;
}

.key_button:hover {
	fill: pink;
}

.key_button:focus {
	fill: rgba(120, 230, 238, 0.774);
	outline: none;
	stroke:black;
	stroke-width:2.5px;
}

svg {
	display: block;
	width: 100%;
	margin: 1em auto;
}
